---
layout              : layout-1.hbs
titleSuffix         : " - Blog One"
barWithLogo         : true
---
<div id="region-blog" class="region region-dark-background region-page" data-deliverance-region="blog">
    <!-- page title -->
    <div class="page-title hidden" data-deliverance-element="title">
        <div class="page-title-content">
            <h6>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="5.0 -10.0 100.0 135.0" enable-background="new 0 0 100 100" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M103.194,97.172c-0.05-0.053-0.105-0.096-0.155-0.146   c0.057,0.043,0.109,0.089,0.165,0.129C103.201,97.162,103.197,97.165,103.194,97.172z M75.238,86.463   c-2.953,0.211-5.764,0.836-8.446,1.73c-5.988,3.043-12.74,4.793-19.918,4.793c-24.345,0-44.079-19.733-44.079-44.079   c0-24.342,19.733-44.079,44.079-44.079s44.079,19.737,44.079,44.079c0,3.733-0.515,7.336-1.388,10.798l0.123,0.105   c-0.908,3.571-1.338,7.32-1.061,11.198c0.628,8.811,4.453,16.612,10.233,22.416C92.297,88.527,84.049,85.832,75.238,86.463z"/>
                </svg>
                our voice
            </h6>
            <h2>The Band Journal</h2>
        </div>
    </div>
    <!-- blog list -->
    <ul id="blog-container" data-deliverance-element="container" data-gutter="21">
        <!-- post-status -->
        <li class="post post-status hidden">
            <div class="post-list-box">
                <h5>March 23th 2015</h5>
                <p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem.</p>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/07.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post image -->
        <li class="post post-image hidden">
            <div class="posts-list-image image-lightbox" data-src="../media/images/07.jpg" data-width="1400" data-height="875">
                <img class="image-preload" src="../media/images/thumbs/07.jpg" alt="">
            </div>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>13 September 2015 </span>
                </div>
            </div>
        </li>
        <!-- post video -->
        <li class="post post-video hidden">
            <div class="posts-list-video">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/149BY2WTPJI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="post-list-box post-list-box-video">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/09.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post-quote -->
        <li class="post post-quote hidden">
            <div class="post-list-box">
                <blockquote>Ut in nulla enim. Phasellus molestie magna non est bibendum.</blockquote>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/08.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post-status -->
        <li class="post post-status hidden">
            <div class="post-list-box">
                <h5>March 17th 2015</h5>
                <p>Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/10.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/11.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/12.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/13.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/14.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/15.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/16.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- post -->
        <li class="post hidden">
            <a href="{{ layoutNumber }}-page-post-one.html">
                <div class="posts-list-image">
                    <img class="image-preload" src="../media/images/thumbs/17.jpg" alt="">
                </div>
            </a>
            <div class="post-list-box post-list-box-image">
                <h5>In Pellentesque Faucibus Vestibulum. Nulla At Nulla Justo</h5>
                <div class="posts-list-meta">
                    <span>15 September 2015 </span> • 3 Comments
                </div>
                <a class="border-button" href="{{ layoutNumber }}-page-post-one.html">read more</a>
            </div>
        </li>
        <!-- load more -->
        <li class="post hidden post-load-more">
            <div class="post-load-more-content">
                load more
            </div>
        </li>
    </ul>
    <!-- pagination -->
</div>