<ul>
    <li class="current">
        <a href="javascript:void(0)">homes</a>
        <ul>
            <li><a href="{{ layoutNumber }}-home-one.html">Home</a></li>
            <li><a href="{{ layoutNumber }}-home-two.html">Home With Boxes</a></li>
        </ul>
    </li>
    <li>
        <a href="{{ layoutNumber }}-gallery-one.html">Gallery</a>
    </li>
    <li>
        <a href="javascript:void(0)">Blog</a>
        <ul>
            <li><a href="{{ layoutNumber }}-blog-one.html">Grid Blog</a></li>
            <li><a href="{{ layoutNumber }}-blog-two.html">List Blog</a></li>
            <li><a href="{{ layoutNumber }}-blog-three.html">List Blog With Sidebar</a></li>
            <li><a href="{{ layoutNumber }}-page-post-one.html">Single Post</a></li>
            <li><a href="{{ layoutNumber }}-page-post-two.html">Single Post With Sidebar</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Albums</a>
        <ul>
            <li><a href="{{ layoutNumber }}-album-example-1.html">Album Page Example 1</a></li>
            <li><a href="{{ layoutNumber }}-album-example-2.html">Album Page Example 2</a></li>
            <li><a href="{{ layoutNumber }}-album-example-3.html">Album Page Example 3</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Events</a>
        <ul>
            <li><a href="{{ layoutNumber }}-events-1.html">Events Page Example 1</a></li>
            <li><a href="{{ layoutNumber }}-events-2.html">Events Page Example 2</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Pages</a>
        <ul>
            <li><a href="{{ layoutNumber }}-page-one.html">Page Layout 1</a></li>
            <li><a href="{{ layoutNumber }}-page-two.html">Page Layout 2</a></li>
            <li><a href="{{ layoutNumber }}-page-three.html">Page Layout 3</a></li>
            <li><a href="{{ layoutNumber }}-page-four.html">Page Layout 4</a></li>
        </ul>
    </li>
    <li>
        <a href="{{ layoutNumber }}-collection.html">collection</a>
    </li>
    <li>
        <a href="{{ layoutNumber }}-page-video.html">Video Page</a>
    </li>
    <li>
        <a href="javascript:void(0)">Various</a>
        <ul>
            <li><a href="{{ layoutNumber }}-404.html">404 template</a></li>
            <li><a href="{{ layoutNumber }}-page-countdown.html">Page countdown</a></li>
            <li><a href="{{ layoutNumber }}-layout-elements.html">Layout elements</a></li>
        </ul>
    </li>
</ul>